<html>
    <head>
        <title>Hello World Form!</title>
    </head>
    <body>
        <h1>Welcome to the Form!</h1>
        <form action="/" method="POST">
            <label for="password">Password</label>
            <input id="password" type="password" name="password"/>
            <input type="submit" name="clickme"/>
        </form>
    </body>
</html>
