<html>
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1>Welcome to the Homepage!</h1>
        <div>Monkey Fuzz!</div>
        <h3> <%= dynamicValue %> </h3>
    </body>
</html>